<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face"/>

        <activity android:name=".InstructionalVideoView" android:exported="false" />
        <activity android:name=".VideoEnrollmentView" android:exported="false" android:keepScreenOn="true" />
        <activity android:name=".VideoVerificationView" android:exported="false" />
        <activity android:name=".FaceEnrollmentView" android:exported="false" />
        <activity android:name=".FaceVerificationView" android:exported="false" />
        <activity android:name=".VoiceEnrollmentView" android:exported="false" />
        <activity android:name=".VoiceVerificationView" android:exported="false" />
        <activity android:name=".VoiceIdentificationView" android:exported="false" />

    </application>

</manifest>
